{
    "JIRA_USERNAME": "username",
    "JIRA_API_TOKEN": "api-token",
    "JIRA_SERVER": "https://your-jira-server.atlassian.net",
    "JIRA_QUERY": "resolution = Unresolved AND assignee in (currentUser()) order by updated DESC"
    "ENABLE_HYPERLINK": false
}